@font-face {
    font-family:'PhosphateInline';
    src:url('/fonts/PhosphateInline.ttf')format('truetype');
    font-weight:normal;
    font-style:normal;
}


/*CSS home page*/
body#home{

}
body#results, body#home{
    font-family:'Arial';
    padding:0;
    margin:0;
    background-image: url("Logo-HD-1080.png");
    background-position: center;
    background-size:20%;
    background-repeat:repeat;

}
div.body{
    width: 90%;
    height: 90%;
    margin: 20% 0% 5% 5% ;
    border: 1px solid black;
    opacity: 0.98;
    background-color: #E7E7E7;

}
form#info, p.text{
    text-align: center;
}

/* CSS result page */
div#background {
    background-image: url(maxresdefault.png);
    background-position: bottom;
    background-size: 9%;
    width: 90%;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    margin: 5% 5% 5% 5%;
    background-color: #E7E7E7;
    border: 1px solid black;
    opacity:0.98;
}
table tr th{
    height: 50px;
}

tr.strong td{
    font-weight: bold;
}

div.table{
    display: flex;
    justify-content: space-evenly;
    height:70%;
}
div#googleMap{
    height: 200px;
    width:50%;
    margin-left: 5%;
    margin-right: 5%;

}
table{
    align-items: center;
    background-color: #E7E7E7;
    width:20%;
    text-align: center;
    margin-top: 10px;
    height: inherit;

}

